<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Poets</title>
</head>
<body>
    {% extends 'base.html' %}
    {% block title %}
    All Poets in the Poem Hoard
    {% endblock %}
    {% block body %}

<h1>All Poets in the Poem Hoard</h1>
<ul>
    {% for poet in poets %}
    <li>
        <a href="/poets/{{ poet.poet_id }}">
        {{ poet.name }} </a>
    </li>
    {% endfor %}
</ul>
{% endblock %}
</body>
</html>