<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Oblique Poetry</title>
</head>
<body>
    {% extends 'base.html' %}
    {% block title %}Oblique Poetry{% endblock %}
    {% block body %}
    <br>
<p>
    This is a tool for sparking creativity.
    <br>
    <br>
    Encounter a random poem,
    <br>
    juxtapose lines from disparate poems,
    <br> 
    or submit your own responses to a prompt.
</p>
{% if not session.get('user_email') %}
<br>
<p>Create an account to begin:</p>
<form action="/users" method="POST">
    <p>
        Email
        <input type="text" name="email">
    </p>
    <p>
        Password
        <input type="password" name="password">
    </p>
    <p>
        Username
        <input type="text" name="username">
    </p>
    <p>
        <input type="submit">
    </p>
</form>
<br>
<p>Or, log in if you have already created an account</p>
<form action="/login" method="POST">
    <p>
        Email
        <input type="text" name="email">
    </p>
    <p>
        Password
        <input type="password" name="password">
    </p>
    <p>
        <input type="submit">
    </p>
</form>
{% endif %}
<!-- {% if session.get('user_email') %}
<form action="/logout">
    <button type="submit" class="btn">
      Log Out
    </button>
</form>
{% endif %} -->
<!-- <form action="/clear_session">
    <button type="submit" class="btn">
    Clear Session (DEBUG)
    </button>
</form> -->
{% endblock %}
</body>
</html>