<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Poem Hoard Home</title>
</head>
<body>
    {% extends 'base.html' %}
    {% block title %}Poem Hoard Home{% endblock %}
    {% block body %}
<h1>Welcome!</h1>
<h2>Navigation</h2>
<ul>
    <li>
        <a href="/poems">View all poems</a>
    </li>
    <li>
        <a href="/poets">View all poets</a>
    </li>
    <li>
        <a href="/users">View all users</a>
    </li>
    <li>
        <a href="/add_random_poem">Add and view a random poem from Poemist!</a>
    </li>
</ul>
{% if not session.get('user_email') %}
<h2>Create an account</h2>
<form action="/users" method="POST">
    <p>
        "Email"
        <input type="text" name="email">
    </p>
    <p>
        "Password"
        <input type="password" name="password">
    </p>
    <p>
        "Username"
        <input type="text" name="username">
    </p>
    <p>
        <input type="submit">
    </p>
</form>
{% endif %}
{% if not session.get('user_email') %}
<h2>Log In</h2>
<form action="/login" method="POST">
    <p>
        "Email"
        <input type="text" name="email">
    </p>
    <p>
        "Password"
        <input type="password" name="password">
    </p>
    <p>
        <input type="submit">
    </p>
</form>
{% endif %}
{% if session.get('user_email') %}
<form action="/logout">
    <button type="submit" class="btn">
      Log Out
    </button>
</form>
{% endif %}
{% endblock %}
</body>
</html>