<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ poem.poem_title }}</title>
</head>
<body>
    {% extends 'base.html' %}
    {% block title %}
        {{ poem.poem_title }} 
    {% endblock %}
    {% block body %}
    <h2>{{ poem.poem_title }}</h2> 
    <h3>by {{ poem.poet.name }} </h3>
    <br>
    {% for line in poem.lines %}
    <p>
        {{line.line_text}}    
    </p>
    {% endfor %}
    <br>
    <br>
    <br>
    {% endblock %}
    
    
</body>
</html>