<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ poet.name }}</title>
</head>
<body>
    {% extends 'base.html' %}
    {% block title %}
        {{ poet.name }}
    {% endblock %}
    {% block body %}
    <h1>{{ poet.name }}</h1>
    <ul>
        {% for poem in poet.poems %}
        <li>
            <a href="/poems/{{ poem.poem_id }}">
            {{ poem.poem_title }} </a>
        </li>
        {% endfor %}
    </ul>
    {% endblock %}
    
    
</body>
</html>