<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Prompts</title>
</head>
<body>
    {% extends 'base.html' %}
    {% block title %}Prompts{% endblock %}
    {% block body %}
    <p>
        A selection of prompts for your use are stored below.
        Generate one, two, or all three, depending on your wants and needs.
    </p>
    {% for prompt in prompt_list %}
    <p>
        {{prompt.prompt_text}}    
    </p>
    {% endfor %}
    {% endblock %}
</body>
</html>