<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Prompts</title>
</head>
<body>
    {% extends 'base.html' %}
    {% block title %}Prompts{% endblock %}
    {% block body %}

    <div class="container">
        <p>
            A writing prompt for your use is stored below.<br>
            Click the button below to generate it.<br>
            <button id="get-prompt-button" class="btn btn-primary mt-2">
                Reveal Prompt
            </button>
        </p>
        <div id="prompt-text"></div>
        <script src="/static/js/showprompt.js"></script>
    {% endblock %}
</body>
</html>