<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Settings</title>
</head>
<body class="bg-light">

    {% extends 'base.html' %}
    {% block title %}{{ user.user_name }}'s User Settings{% endblock %}
    {% block body %}
    {% if user.email == session.get('user_email') %}
    <br>
    <div class="text-center">
    <h4>
        ☙ Change user credentials ☙
    </h4>
    <br>
        <form action="/email" method="POST">
            <p>
                Change your email:
                <input type="text" name="newemail">
                <input class="btn btn-dark" type="submit">
            </p>
        </form>
        <form action="/password" method="POST">
            <p>
                Change your password:
                <input type="text" name="newpass">
                <input class="btn btn-dark" type="submit">
            </p>
        </form>
        <form action="/username" method="POST">
            <p>
                Change your username:
                <input type="text" name="newname">
                <input class="btn btn-dark" type="submit">
            </p>
        </form>
        </li>
        <form action="/delete_account">
            <button type="submit" class="btn btn-dark">
                Delete your account?
            </button>
        </form>
    </div>
    <br>
    <h1 class="text-center">❦</h1>
    {% endif %}
    {% endblock %}
    
</body>
</html>