<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    {% extends 'base.html' %}
    {% block title %}{{ user.user_name }}'s User Settings{% endblock %}
    {% block body %}
    <h1>{{ user.user_name }}'s User Settings</h1>
    {% if user.email == session.get('user_email') %}
    <h3>
       Change user credentials: 
    </h3>
        <form action="/email" method="POST">
            <p>
                "New Email"
                <input type="text" name="newemail">
            </p>
            <p>
                <input type="submit">
            </p>
        </form>
        <form action="/password" method="POST">
            <p>
                "New Password"
                <input type="text" name="newpass">
            </p>
            <p>
                <input type="submit">
            </p>
        </form>
        <form action="/username" method="POST">
            <p>
                "New Username"
                <input type="text" name="newname">
            </p>
            <p>
                <input type="submit">
            </p>
        </form>
        </li>
    <li>
        <form action="/delete_account">
            <button type="submit" class="btn">
                Delete Account
            </button>
        </form>
    </li>
    {% endif %}
    {% endblock %}
    
</body>
</html>